.image__container {
    padding-top: 10rem;
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    max-width: 100px;
    height: auto;
    position: relative;

    img {
        max-width: 100%;
        height: auto;
    }
}

.winner__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
